.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.vscode

# Ignore everything
*
*.qmd
*.html
*.env

# But not these files...
!*.py
!*.R
!*.r
!*.ipynb
!*.rmd
!*.md
!*.css

# And not directories (so we can recurse into them)
!*/
